

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
/* fonts */
/* colors */
:root {
    --color-blue: #2A7AE4;
    --color-black: #464646;
    --color-grey-blue: #EAF2FD;
    --color-grey: #F5F5F5;
  }
/* ------------------- */
/* Reset               */
/* ------------------- */
html {
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    scroll-behavior: smooth;
  }
*,
  *:before,
  *:after {
    box-sizing: inherit;
  }
/* Reset margins */
body,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  figure,
  picture {
    margin: 0;
  }
h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
body {
    padding: 0;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
  }
img,
  picture {
    width: 100%;
    height: auto;
    display: block;
  }
a,
  a:focus,
  a:hover,
  a:active {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
ul {
    list-style-type: none;
  }
h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 400;
  }
button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
button,
  select {
    /* 1 */
    text-transform: none;
  }
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
/* ------------------- */
/* Utility classes     */
/* ------------------- */
.flex {
    display: flex;
  }
.center {
    align-items: center;
  }
.section {
    margin-block: 4rem;
  }
.wrapper {
    width: min(100% - 1rem, 1136px);
    margin-inline: auto;
  }
/* ------------------- */
/* Nav     */
/* ------------------- */
.icon-logo {
  
  }
.primary-nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
  }
.search-bar {
    margin-left: 2rem;

  }
.search-bar input{
    padding: 8px 16px;
    width: 393px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--color-grey);
    border: none;
    outline: none;
  }
/* ------------------- */
/* Banner     */
/* ------------------- */
.hero-section {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
  }
.hero-section h1, h3 {
    color: #FFF;
  }
/* ------------------- */
/* Cards     */
/* ------------------- */
.products-name {
    display: flex;
    justify-content: space-between;
    margin-block: 2rem;
}
.products-name h3 {
color: var(--color-black);  }
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    gap: 1rem
  }
/* ------------------- */
/* Media Querys     */
/* ------------------- */
@media (max-width: 1152px) {

    .cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(176px, 1fr));
        gap: 1rem
      }
}